<footer class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Våra hemsidor</h3>
                <ul class="">
                    <li><a href="#">Lorum</a></li>
                    <li><a href="#">Lorum</a></li>
                    <li><a href="#">Lorum</a></li>
                    <li><a href="#">Lorum</a></li>
                    <li><a href="#">Lorum</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Information</h3>
                <ul class="">
                    <li><a href="#">Lorum</a></li>
                    <li><a href="#">Lorum</a></li>
                    <li><a href="#">Lorum</a></li>
                    <li><a href="#">Lorum</a></li>
                    <li><a href="#">Lorum</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Social medier</h3>
                <div class="social-icons">
                    <a href="#" class="social-icon">
                        <img src="~/img/social/facebook.png" width="64" height="64" loading="lazy" alt="facebook"/>
                    </a>
                    <a href="#" class="social-icon">
                        <img src="~/img/social/youtube.png" width="64" height="64" loading="lazy" alt="youtube"/>
                    </a>
                    <a href="#" class="social-icon">
                        <img src="~/img/social/linkedin.png" width="64" height="64" loading="lazy" alt="linkedin"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>