@model Category


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" asp-action="Create">
@*    <div asp-validation-summary="All"></div>*@
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>

    <label asp-for="DisplayOrder"></label>
    <input asp-for="DisplayOrder" class="form-control" />
    <span asp-validation-for="DisplayOrder"></span>

    <button type="submit" class="btn btn-primary">Create</button>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}