<div class="container-fluid">

    <div class="d-flex justify-content-between">
        <h1 class="text-primary">Order list</h1>
        <ul class="list-group list-group-horizontal-sm">
            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="approved">
                <li class="list-group-item">Approved</li>
            </a>
            <a style="text-decoration:none;"  asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
                <li class="list-group-item">Inprocess</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="pending">
                <li class="list-group-item">Pending</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="complete">
                <li class="list-group-item">Complete</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="all">
                <li class="list-group-item">All</li>
            </a>
        </ul>
    </div>
    <table id="tblData" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Status</th>
                <th>Total</th>
                <th>Manage</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/order.js"></script>
}
