<h1>Covertype List</h1>
<a asp-controller="Product" asp-action="Create">Create new Product</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Manage</th>
        </tr>
    </thead>
</table>
